build/
node*/
deployedAddress.json
.idea/
.DS_Store
bin/
.embark/* 
chains.json  
test/helpers/testConstant.js  
config/communication.js 
config/namesystem.js 
config/storage.js 
config/webserver.js 
app/* 
config/blockchain.js 
config/development/* 
config/testnet/* 
